@model Cliente_Seguridad.ServicioSeguridad.GrupoRol
@{
    ViewBag.Title = "GrupoRolModificar";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Grupo</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("GrupoRolModificar", "GrupoRol", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.HiddenFor(model => model.IdGrupo)
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Id del Grupo Rol (*)</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(model => model.IdGrupoRol, htmlAttributes: new { @class = "form-control", @readonly = "true" })
                                @Html.ValidationMessageFor(model => model.IdGrupoRol, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Id del Grupo (*)</label>
                            <div class="col-lg-8">
                                @Html.TextBoxFor(model => model.IdGrupo, htmlAttributes: new { @class = "form-control", @readonly = "true" })
                                @Html.ValidationMessageFor(model => model.IdGrupo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Rol (*)</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.IdRol, new SelectList(ViewBag.ListaRol, "Value", "Text"), "- Seleccionar -", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IdRol, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Estado del Grupo Rol (*)</label>
                            <div class="col-md-8">
                                @Html.DropDownListFor(model => model.EstadoGrupoRol, new SelectList(ViewBag.ListaEstadoGrupoRol, "Value", "Text"), "- Seleccionar -", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.EstadoGrupoRol, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Creado el</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" disabled name="CreadoElX" value="@Model.FechaCreacion Por @Model.CreadoPor">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label">Modificado el</label>
                            <div class="col-lg-8">
                                @{var Modificado = "";
                                    if (Model.FechaModificacion != null && Model.ModificadoPor != "")
                                    {
                                        Modificado = Model.FechaModificacion + " Por " + Model.ModificadoPor;
                                    }
                                }
                                <input type="text" class="form-control" disabled name="ModificadoElX" value="@Modificado">
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="col-lg-12">
                                @if (ViewBag.PermisoModificacion == "TPMODI") { 
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-save"></i>&nbsp;Actualizar</button>
                                </div>
                                }
                                @if (ViewBag.PermisoEliminacion == "TPELIM")
                                {
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-danger btn-sm" onclick="eliminaObjeto('@Url.Action("GrupoRolEliminarJson", "GrupoRol", new { idGrupoRol = Model.IdGrupoRol, idGrupo = Model.IdGrupo })');"><i class="fa fa-trash"></i>&nbsp;Eliminar</button>
                                    </div>
                                }
                                @if (ViewBag.PermisoCreacion == "TPCREA")
                                {
                                    <div class="btn-group">
                                        <a href="@Url.Action("GrupoRolCrear", "GrupoRol", new { idGrupo = Model.IdGrupo })" class="btn btn-default btn-sm" role="button"><i class="fa fa-file-o"></i>&nbsp;Nuevo</a>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

