@model IEnumerable<Cliente_Seguridad.ServicioSeguridad.Usuario>
@{
    ViewBag.Title = "Index";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Listas</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>Id Usuario</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Email</th>
                                <th>EstadoUsuario</th>
                                <th>Creado El</th>
                                <th>Modificado El</th>
                                @if (ViewBag.PermisoEliminacion == "TPELIM")
                                {
                                    <th>Eliminar</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (Cliente_Seguridad.ServicioSeguridad.Usuario usuario in Model)
                                {
                                    <tr>
                                        <td>
                                            <a href="@Url.Action("UsuarioModificar","Usuario", new { usuario = usuario.IdUsuario })">@usuario.IdUsuario</a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("UsuarioModificar","Usuario", new { usuario = usuario.IdUsuario })">@usuario.NombreUsuario</a>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("UsuarioModificar","Usuario", new { usuario = usuario.IdUsuario })">@usuario.ApellidoUsuario</a>
                                        </td>
                                        <td>
                                            @usuario.Email
                                        </td>
                                        <td>
                                            @usuario.EstadoUsuarioDesc
                                        </td>
                                        @*@if (ViewBag.PermisoEliminar.ToString().Substring(0, 3) == "POT")
                                            {*@
                                        <td>
                                            @usuario.FechaCreacion Por @usuario.CreadoPor
                                        </td>
                                        @if (usuario.FechaModificacion != DateTime.MinValue)
                                        {
                                            <td>
                                                @usuario.FechaModificacion Por @usuario.ModificadoPor
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                        @if (ViewBag.PermisoEliminacion == "TPELIM")
                                        {
                                            <td>
                                                <a class="demo3" id="@usuario.IdUsuario" href="#" onclick="eliminaObjeto('@Url.Action("UsuarioEliminarJson", "Usuario", new {usuario = usuario.IdUsuario})');"><span class="fa fa-trash"></span></a>

                                            </td>
                                        }
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <div class="btn-group">
                        @*<button type="button" class="btn btn-primary btn-sm " onclick="RolesExportar('@ViewBag.IdRol', '@ViewBag.NombreRol', '@ViewBag.IdAplicacion');"><i class="fa fa-file-excel-o"></i>&nbsp;Exportar a Excel</button>*@
                        <button type="button" class="btn btn-primary btn-sm " onclick=""><i class="fa fa-file-excel-o"></i>&nbsp;Exportar a Excel</button>
                    </div>
                    @if (ViewBag.PermisoCreacion == "TPCREA")
                    {
                        <div class="btn-group">
                           <a href="@Url.Action("UsuarioRegistrar","Usuario")" class="btn btn-default btn-sm" role="button"><i class="fa fa-file-o"></i>&nbsp;Nuevo</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
